ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=
ARCLET_CONTRACT_ADDRESS=
NEXT_PUBLIC_ARCLET_CONTRACT_ADDRESS=
APP_KIT_KEY=
NEXT_PUBLIC_APP_KIT_KEY=
NEXT_PUBLIC_APP_KIT_BRIDGE_ENABLED=true
NEXT_PUBLIC_ETHEREUM_SEPOLIA_RPC_URL=https://11155111.rpc.thirdweb.com
NEXT_PUBLIC_SEPOLIA_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
NEXT_PUBLIC_ARC_TESTNET_USDC_ADDRESS=
SMOKE_RECIPIENT=
SMOKE_AMOUNT_USDC=0.01
SMOKE_BASE_URL=http://localhost:3000
