ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
PRIVATE_KEY=
FLOWLINK_CONTRACT_ADDRESS=
NEXT_PUBLIC_FLOWLINK_CONTRACT_ADDRESS=
FLOWLINK_V2_CONTRACT_ADDRESS=
NEXT_PUBLIC_FLOWLINK_V2_CONTRACT_ADDRESS=
APP_KIT_KEY=
SMOKE_RECIPIENT=
SMOKE_AMOUNT_USDC=0.01
